/* AddTodo.css */
.add-todo-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.add-todo-form input {
  width: 30vw; /* Responsive width */
  max-width: 600px; /* Maximum width to prevent overly wide input */
  padding: 20px 40px; /* Increased padding for a larger, more comfortable input area */
  margin-bottom: 10px; /* Space below the input */
  border: 1px solid #ddd; /* Light grey border */
  border-radius: 24px; /* Rounded corners for the Google search-style look */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); /* Slightly larger shadow for depth */
  outline: none; /* Removes the blue outline that appears on focus */
  font-size: 16px; /* Slightly larger font size */
}

.add-todo-form input:focus {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3); /* Darker shadow on focus for depth */
  border-color: rgba(26, 115, 232, 0.3); /* Google-like focus color */
}

.add-todo-form button {
  width: 20vw;
  max-width: 200px;
  padding: 15px;
  background-color: #077e3b;
  color: white;
  font-weight: 900;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.add-todo-form button:hover {
  background-color: #09b950;
}
