body {
  font-family: Arial, sans-serif;
  background-color: #f4f7f6;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  background-image: url("https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1,
h3 {
  color: white; /* or any other color that contrasts well with your background */
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  border-radius: 10px; /* rounded corners */
  padding: 10px; /* space around text */
  margin: 10px 0; /* optional: add some margin */
}

#recommendationDisplay {
  padding: 20px;
  margin: 15px;
  text-align: center;
  width: 95%;
  max-width: none;
}

.recommendation-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.recommendation-card {
  background-color: rgba(234, 234, 234, 0.8);
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  padding: 15px;
  margin: 10px 0;
  height: 45vh;
}

.recommendation-card p {
  color: #333;
  font-size: 18px;
}

.recommendation-card img {
  width: 50%; /* Set a fixed width */
  height: 250px; /* Set a fixed height */
  object-fit: cover; /* This will cover the area without stretching the image */
  border-radius: 8px; /* Optional: for rounded corners */
}
