body {
  background-color: black;
  background-image: url("https://i.giphy.com/media/TxVVB6PfWMjE4/200.webp");
  font-family: "Helvetica Neue";
  color: yellow;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.logo{
}

.info-container {
  color: white;  
  border: 3px solid yellow;
  border-radius: 15px;
  width: 600px;
  height: 300px;
}

button {
  margin-top: 2vw;
  width: 12vw;
  height: 3vw;
  background-color: whitesmoke;
  border: 3px solid yellow;
  border-radius: 15px;
  font-size: 1vw;
  font-weight: 900;
}

p {
  margin-top: 2vw;
  font-size: 1.5vw;
  font-weight: 900;
}

.loading {
  display: none;
  margin-top: 4vw;
  justify-content: center;
  align-items: center;
}
